{% extends 'base.html.twig' %}

{% block title %}Edit Address{% endblock %}

{% block breadcrumb %}
    {% include 'partials/_breadcrumb.html.twig' with {
        items: [
            { label: 'Home', url: path('app_home') },
            { label: 'My Addresses', url: path('app_address_index') },
            { label: 'Edit' }
        ]
    } %}
{% endblock %}

{% block body %}
<h2 class="mb-3">Edit Address</h2>
{% include 'address/_form.html.twig' with { form: form, button_label: 'Update'} %}
{% endblock %}
